.hps-container{
    padding: 20px 25px;
    margin-top: 5rem;
}

.hps-container h2{
    text-align : center;
    text-transform : uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.hps-container .hps-row{
    padding: 20px 25px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap : 2rem
}


