.main-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color:#0000001e;
}

.main-containerOne{
    display:none
}

.card-quick{
    width: 800px;
    background-color: #ffffff;
    padding: 30px 10px;
    border-radius:10px;
    display: flex;
}

.card-quick .card-row{
    flex: 1;
}

.card-row .card-images .card-top img{
    width: 300px;
}

.card-row .card-images .card-top{
    display: flex;
    justify-content: space-around;
}

.card-row .card-images .card-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
}

.card-row .card-images .card-bottom img{
    width: 75px;
    border-radius: 2px;
    box-shadow: 0 0 5px #000000;
    cursor: pointer;
    transition: all 0.5s;
}

.card-row .card-images .card-bottom img:hover{
    transform : scale(1.02)
}

.card-row .div{
    margin-bottom: 60px;
}

.card-row .first-div .title{
    letter-spacing: 2px;
    font-weight: 300;
    font-style: 30px;
}

.card-row .first-div .category{
    text-transform: uppercase;
    padding: 2px 10px;
    background-color: #000000;
    max-width: max-content;
    color : #ffff;
    letter-spacing: 1.5px;
}

.card-row .second-div .price{
    font-weight: bold;
    font-size: 18px
}

.card-row .second-div .quantity{
    padding: 2px 30px;
    background-color: #00000011;
    margin-top: 15px;
    max-width: max-content;
    margin-top: 20px;
}

.card-row .third-div .desc{
    letter-spacing: 1.2px;
}

.card-row .fourth-div{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.card-row .fourth-div button{
    border : none;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
}

.card-row .fourth-div button:active{
    transform: translateY(-10px)
}

.card-row .fourth-div .cart{
    background-color: #ffee00;
    color : #ffffff;
}

.card-row .fourth-div .wish{
    background-color: #0066ff;
    color : #ffffff;
}

.card-row .fourth-div .cart:hover{
    background-color: #ffffff;
    color : #ffee00
}

.card-row .fourth-div .wish:hover{
    background-color: #ffffff;
    color : #0066ff;
}

.back{
    padding: 5px 25px;
    background-color: #000000;
    color :  #ffffff;
    letter-spacing:1.2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s;
}

.back:hover{
    transform: translateY(-5px);
}